#
# This workflow calls the main distribution pipeline from DuckDB to build, test and (optionally) release the extension
#
name: Main Extension Distribution Pipeline
on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.head_ref || '' }}-${{ github.base_ref || '' }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  duckdb-next-build:
    name: Build extension binaries
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@main
    if: false   # extension-template is currently not compatible with main
    with:
      duckdb_version: main
      ci_tools_version: main
      extension_name: test_utils

  duckdb-stable-110:
    name: Build extension binaries (v1.1.0)
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@v1.1.3
    with:
      duckdb_version: v1.1.0
      ci_tools_version: v1.1.3
      exclude_archs: 'linux_arm64;linux_amd64_gcc4;linux_amd64_musl;osx_amd64;windows_amd64;windows_amd64_rtools;windows_amd64_mingw;wasm_mvp;wasm_eh;wasm_threads'
      extension_name: test_utils

  duckdb-stable-111:
    name: Build extension binaries (v1.1.1)
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@v1.1.3
    with:
      duckdb_version: v1.1.1
      ci_tools_version: v1.1.3
      exclude_archs: 'linux_arm64;linux_amd64_gcc4;linux_amd64_musl;osx_amd64;windows_amd64;windows_amd64_rtools;windows_amd64_mingw;wasm_mvp;wasm_eh;wasm_threads'
      extension_name: test_utils

  duckdb-stable-112:
    name: Build extension binaries (v1.1.2)
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@v1.1.3
    with:
      duckdb_version: v1.1.2
      ci_tools_version: v1.1.3
      exclude_archs: 'linux_arm64;linux_amd64_gcc4;linux_amd64_musl;osx_amd64;windows_amd64;windows_amd64_rtools;windows_amd64_mingw;wasm_mvp;wasm_eh;wasm_threads'
      extension_name: test_utils

  duckdb-stable-113:
    name: Build extension binaries (v1.1.3)
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@v1.1.3
    with:
      duckdb_version: v1.1.3
      ci_tools_version: v1.1.3
      exclude_archs: 'linux_arm64;linux_amd64_gcc4;linux_amd64_musl;osx_amd64;windows_amd64;windows_amd64_rtools;windows_amd64_mingw;wasm_mvp;wasm_eh;wasm_threads'
      extension_name: test_utils

  duckdb-stable-120:
    name: Build extension binaries (v1.2.0)
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@v1.2.0
    with:
      duckdb_version: v1.2.0
      ci_tools_version: v1.2.0
      exclude_archs: 'linux_arm64;linux_amd64_gcc4;linux_amd64_musl;osx_amd64;windows_amd64;windows_amd64_mingw;wasm_mvp;wasm_eh;wasm_threads'
      extension_name: test_utils

  duckdb-stable-121:
    name: Build extension binaries (v1.2.1)
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@v1.2.1
    with:
      duckdb_version: v1.2.1
      ci_tools_version: v1.2.1
      exclude_archs: 'linux_arm64;linux_amd64_gcc4;linux_amd64_musl;osx_amd64;windows_amd64;windows_amd64_mingw;wasm_mvp;wasm_eh;wasm_threads'
      extension_name: test_utils

  duckdb-stable-122:
    name: Build extension binaries (v1.2.2)
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@v1.2.2
    with:
      duckdb_version: v1.2.2
      ci_tools_version: v1.2.2
      exclude_archs: 'linux_arm64;linux_amd64_gcc4;linux_amd64_musl;osx_amd64;windows_amd64;windows_amd64_mingw;wasm_mvp;wasm_eh;wasm_threads'
      extension_name: test_utils

  duckdb-stable-130:
    name: Build extension binaries (v1.3.0)
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@v1.3.0
    with:
      duckdb_version: v1.3.0
      ci_tools_version: v1.3.0
      exclude_archs: 'linux_arm64;linux_amd64_musl;osx_amd64;windows_amd64;windows_amd64_mingw;wasm_mvp;wasm_eh;wasm_threads'
      extension_name: test_utils

  duckdb-stable-131:
    name: Build extension binaries (v1.3.1)
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@v1.3.1
    with:
      duckdb_version: v1.3.1
      ci_tools_version: v1.3.1
      exclude_archs: 'linux_arm64;linux_amd64_musl;osx_amd64;windows_amd64;windows_amd64_mingw;wasm_mvp;wasm_eh;wasm_threads'
      extension_name: test_utils

  duckdb-stable-132:
    name: Build extension binaries (v1.3.2)
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@v1.3.2
    with:
      duckdb_version: v1.3.2
      ci_tools_version: v1.3.2
      exclude_archs: 'linux_arm64;linux_amd64_musl;osx_amd64;windows_amd64;windows_amd64_mingw;wasm_mvp;wasm_eh;wasm_threads'
      extension_name: test_utils

  duckdb-main:
    name: Build extension binaries (main)
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_distribution.yml@main
    with:
      duckdb_version: main
      ci_tools_version: main
      exclude_archs: 'linux_arm64;linux_amd64_musl;osx_amd64;windows_amd64;windows_amd64_mingw;wasm_mvp;wasm_eh;wasm_threads'
      extension_name: test_utils

  upload_extensions:
    name: Upload Extensions to S3
    needs: [duckdb-stable-110, duckdb-stable-111, duckdb-stable-112, duckdb-stable-113, duckdb-stable-120, duckdb-stable-121, duckdb-stable-122, duckdb-stable-130, duckdb-stable-131]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::785715327372:role/github-actions-ci
          role-session-name: github-actions-ci
          aws-region: us-east-1

      - name: Upload extensions
        if: ${{github.ref_name == 'main'}}
        run: |
          set -euo pipefail
          # Files are like: `test_utils-v1.3.0-extension-osx_arm64/test_utils.duckdb_extension`
          for FULL_EXT_PATH in $(find . -name test_utils.duckdb_extension); do
            echo "Processing: '${FULL_EXT_PATH}'"

            DIR_NAME=$(dirname "$FULL_EXT_PATH")
            DUCKDB_VERSION=$(echo $DIR_NAME | cut -d'-' -f2)
            EXT_ARCH=$(echo $DIR_NAME | cut -d'-' -f4)

            cd "$DIR_NAME" || exit 1
            gzip --keep -f "test_utils.duckdb_extension"

            # Then upload the DIR_NAME to the release
            S3_OUTPUT_PATH_VER="s3://ext-motherduck-com/${DUCKDB_VERSION}/${EXT_ARCH}/test_utils.${{ github.sha }}.duckdb_extension.gz"
            S3_OUTPUT_PATH="s3://ext-motherduck-com/${DUCKDB_VERSION}/${EXT_ARCH}/test_utils.duckdb_extension.gz"

            echo "Uploading 'test_utils.duckdb_extension.gz' to '${S3_OUTPUT_PATH}' and '${S3_OUTPUT_PATH_VER}'"
            aws s3 cp --no-progress test_utils.duckdb_extension.gz "${S3_OUTPUT_PATH_VER}"

            # Overwrite the latest version with the current one
            aws s3 cp --no-progress "${S3_OUTPUT_PATH_VER}" "${S3_OUTPUT_PATH}"
            cd .. || exit 1
          done

  code-quality-check:
    name: Code Quality Check
    uses: duckdb/extension-ci-tools/.github/workflows/_extension_code_quality.yml@main
    with:
      duckdb_version: v1.3.1
      ci_tools_version: main
      extension_name: test_utils
      format_checks: 'format;tidy'
